/* Declaring custom properties */
* {
  box-sizing: border-box;
  margin: 0;

}

#header {
  background-color: #404445;
  color: white;
}

#Login > ul{ list-style-type: none;}
#Login > ul > li { display: inline-block;}
}



#recuadro-menu{
background-color: white:
}

#menu {
  padding: 1em;
  background-color: white;
  color: black;
}

#menu > ul {
  margin: 0;
  padding: 0;
  margin-left: 30em;
  list-style-type: none;
  font-size: 0.8em;
  color:black;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid white;
}

#content{
padding: 7em;
text-align: center;
background-image: url(imagenes/foto1.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

#content h1{
color: green;
}
#content h2{
color: white;
}

#content > ul {
  list-style-type: none;
}

.imagen-medio img {
width: 100%;
max-width: 100%;
}

.barra-buscadora{
padding-top: 2em;


}

#medio{
background-color: ;
}


#medio h2 {
  margin-top: 1.5em;
text-align: center;
color: black;
}
#cursos > ul > li {

  display: inline-block;
  padding: 0.5em;
  margin-top: 1.5em;
  margin-left: 2em;
  font-size: 1em;

}

#footer {
  background-color: black;
  font-size: 150%;
  color: white;
  padding: 4em;
  padding-left: 10em;
  padding-right: 12em;
  line-height: 150%;
}

#footer h6 {
  font-size: 1em;
  padding-top: -3em;
  text-align: center;
  margin-left: 0.5em;

  margin-top: -1em;

}

#footer ul {
  font-size: 0.8em;
}


.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social li{
  display: inline-block;
  padding: 1em;
}

.footer-column  {
padding: 1em;
text-align: center;
font-size: 0.8em;

    }

.footer-column h6 {
margin-bottom: 1em;
      }

.footer-column li:hover {
  color:#00ff1d;
}

.search{
background-color: green;
padding: 0.5em;;
margin-left: -1em;
color: white;

}


@media (max-width: 1024px) {


#footer {
padding-left: 1em;
padding-right: 1em;
}

.footer-column  {

padding: 1em;
text-align: grid;
font-size: 0.8em;

    }

.footer-column h6 {
margin-bottom: 1em;
font-size: 1em;
  }


.footer-columns {
grid-template-columns: 1fr;
    }





  }
