/* Declaring custom properties */
* {
  box-sizing: border-box;

}

#header {
  padding: 1em;
  background-color: #404445;
  color: white;
}

.Login > ul{ list-style-type: none;}
.Login > ul > li { display: inline-block;}
}

#recuadro-menu{
background-color: white:
}

#menu {
  padding: 1em;
  background-color: black;
  color: white;
}

#menu > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color:white;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid white;
}
