/* Declaring custom properties */
* {
  box-sizing: border-box;
  margin: 0;

}

#header {
  background-color: #404445;
  color: white;
}

#Login > ul{ list-style-type: none;}
#Login > ul > li { display: inline-block;}
}



#recuadro-menu{
background-color: white:
}

#menu {
  padding: 1em;
  background-color: white;
  color: black;
}

#menu > ul {
  margin: 0;
  padding: 0;
  margin-left: 30em;
  list-style-type: none;
  font-size: 0.8em;
  color:black;
}

#menu > ul > li {
  display: inline-block;
  padding: 0.5em;
  border-left: thin solid white;
}

#content{
padding: 7em;
text-align: center;
background-image: url(imagenes/foto1.jpeg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

#content h1{
color: green;
}
#content h2{
color: white;
}

#content > ul {
  list-style-type: none;
}

.imagen-medio img {
width: 100%;
max-width: 100%;
}

.barra-buscadora{
padding-top: 2em;

}

#footer {
  background-color: black;
  color: white;
  display: grid;
  font-size: 150%;
  grid-template-columns: 1fr 3fr 1fr;
}

#footer h6 {
  font-size: 1em;
}

#footer ul {
  font-size: 0.8em;
}


.footer-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  #footer {
      grid-template-columns: 1fr;
    }

    .footer-column {
      text-align: center;
      font-size: 2em;
    }

    .footer-column h6 {
      margin-bottom: 1em;
    }

    .footer-columns {
      grid-template-columns: 1fr;
    }

  }
